<a href="https://colab.research.google.com/github/moizarsalan/Programming-for-AI-lab/blob/main/Lab_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2.	Explore all kinds /data types of variables. And  write code for each datatype.
                                                  # Integer variable
                                                  # Floating-point variable
                                                  # String variable
                                                   # Boolean variable

In [ ]:
# Integer Variable
a = 10
print(a)
print("Type of a:", type(a))

10
Type of a: <class 'int'>

In [ ]:
# Floating Point Variable
b = 3.14
print(b)
print("Type of b:", type(b))

3.14
Type of b: <class 'float'>

In [ ]:
# String Variable
c = "Hello, World!"
print(c)
print("Type of c:", type(c))

Hello, World!
Type of c: <class 'str'>

In [ ]:
# Boolean Variable
d = True
print(d)
print("Type of d:", type(True))

True
Type of d: <class 'bool'>

4.	Declare and initialize multiple variables in a single line . Single variable with multiple values , multiple variables with single values. Each having at least two examples

In [ ]:
#Single Variable with Multiple values
a, b, c = 1, 2, 3
x, y, z = "apple", "banana", "cherry"
print(a, b, c)
print(x + y + z)#In case of positive sign there will be no space in between words, letter or numbers

1 2 3
applebananacherry

In [ ]:
#Multiple Variables with single values
d = e = f = 10
g = h = i = "hello"
print(d, e, f)
print(g)

10 10 10
hello

.    Perform arithmetic operations on integers and floating-point numbers
                                         # Adding, Subtracting, Multiplication and dividing two integer variables

In [ ]:
#Aritmatic operation using integer data Type

num1 = 10
num2 = 5
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2

print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)

Addition: 15
Subtraction: 5
Multiplication: 50
Division: 2.0

In [ ]:
#Aritmatic operation using Float Data Type

float1 = 3.5
float2 = 2.0
addition_float = float1 + float2
subtraction_float = float1 - float2
multiplication_float = float1 * float2
division_float = float1 / float2

print("Addition:", addition_float)
print("Subtraction:", subtraction_float)
print("Multiplication:", multiplication_float)
print("Division:", division_float)

Addition: 5.5
Subtraction: 1.5
Multiplication: 7.0
Division: 1.75

6.	A string literal is a sequence of characters enclosed in quotes. In Python, we can use either single quotes (‘…’) or double quotes (“…”) to create a string

In [ ]:
#Methods of using string or string literals

# Using single quotes
x = 'Hello, World!'
# Using double quotes
y = "Hello, World!"
# Using double quotes when the string contains a single quote
z = "It's a beautiful day."
# Using single quotes when the string contains double quotes
w = 'She said, "Hello!"'

print(x)
print(y)
print(z)
print(w)

Hello, World!
Hello, World!
It's a beautiful day.
She said, "Hello!"