<a href="https://colab.research.google.com/github/moizarsalan/Programming-for-AI-lab/blob/Programming-for-AI-Lab-Tasks/Lab_11_Lists_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lab: 11**

# **Lists in Python**

# **Objectives**



1.   Accessing List items
2.   Change list items
3.   List Indexing (Positive and Negative)
4.   Remove List items
5.   Loop lists
6.   List comprehensions
7.   Sort list
8.   Copy list
9.   Join list
10.  List Methods
11.  List Concatenation
12.  Filtering and Sorting
13.  List slicing and reversing

# **Lab Task: 01**

**Accessing list items**



*   Create a list of fruits
*   Print first and last items of list

In [ ]:
fruits = ["melon", "orange", "apple", "grape", "mango"]
print("First item:", fruits[0])
print("Last item:", fruits[-1])

First item: melon
Last item: mango

# **Lab Task: 02**

**Change list items**

* Create a list of colors.
* Change the second item in the list to "blue".

In [ ]:
colors = [1, 2, 3, 4]
colors[1] = "7"
print(colors)

[1, '7', 3, 4]

# **Lab Task: 03**

**List Indexing**



1.   Positive Indexing: As we have seen that list items have index, as such we can access items using these indexes.
2.   Negative Indexing: As we have seen that list items have index, as such we can access items using these indexes.

In [ ]:
#Postive Indexing
colors = ["Red", "Green", "Blue", "Yellow", "Green"]
#          [0]      [1]     [2]      [3]      [4]
print(colors[2])
print(colors[4])
print(colors[0])

#Negative Indexing
colors = ["Red", "Green", "Blue", "Yellow", "Green"]
#[-5] [-4] [-3] [-2] [-1]
print(colors[-1])
print(colors[-3])
print(colors[-4])

# **Lab Task: 04**

**Add list items**

* Create a list of numbers.
* Add the number 10 at the end of the list.

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers.append(6)
print("Updated list of numbers:", numbers)

Updated list of numbers: [1, 2, 3, 4, 5, 6]

# **Lab Task: 05**

**Remove List items**

* Create a list of animals.
* Remove the third item from the list.

In [ ]:
animals = [1, 2, 3, 4]
del animals[2]
print("Updated list of animals:", animals)

Updated list of animals: [1, 2, 4]

# **Lab Task: 06**

**Loop Lists**

* Create a list of cities.
* Loop through the list and print each city.

In [ ]:
cities = ["Haripur", "Abbottabad", "Mansehra", "Pindi"]
for city in cities:
    print(city)

Haripur
Abbottabad
Mansehra
Pindi

# **Lab Task: 07**

**List Comprephesions**

* Create a list of numbers from 1 to 10.
* Use list comprehension to create a new list containing the square of each number.

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squared_numbers = [x**2 for x in numbers]
print(squared_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# **Lab Task: 08**

**Sort Lists**

* Create a list of numbers from 1 to 10.
* Use list comprehension to create a new list containing the square of each number.

In [ ]:
names = ["Moiz", "Hamza", "Qasim", "Momin"]
names.sort()
print(names)

['Hamza', 'Moiz', 'Momin', 'Qasim']

# **Lab Task: 09**

**Copy Lists**

* Create a list of fruits.
* Copy the list into a new list.

In [ ]:
fruits = [1, 2, 3, 4, 5]
copied_fruits = fruits.copy()
print(copied_fruits)

[1, 2, 3, 4, 5]

# **Lab Task: 10**

**Join Lists**

* Create two lists of numbers.
* Join the two lists into a single list.

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6]

# **Lab Task: 11**

**Lists Method**

* Create a list of fruits.
* Use the append() method to add a new fruit to the list.
* Use the pop() method to remove the last fruit from the list.

In [ ]:
a = [1, 2, 3]
a.append(2)
print(a)
a.pop()
print(a)

[1, 2, 3, 2]
[1, 2, 3]

# **Lab Task: 12**

**Combining list and list comprehensions**

* Create two lists, one containing numbers from 1 to 5 and another containing numbers from 6 to 10.
* Use list comprehension to create a new list that contains the sum of corresponding elements from the two lists.

In [ ]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]
c = [x + y for x, y in zip(a, b)]
print(c)

[7, 9, 11, 13, 15]

# **Lab Task: 13**

**Filtering and sorting of List**

* Create a list of numbers.
* Use list comprehension to create a new list containing only the even numbers from the original list.
* Sort the new list in descending order.

In [ ]:
numbers = [3, 6, 8, 1, 4, 9, 2, 5, 7]
even_num = [x for x in numbers if x % 2 == 0]
even_num.sort(reverse=True)
print(even_num)

[8, 6, 4, 2]

# **Lab Task: 14**

**List slicing and Reversing**

* Create a list of numbers from 1 to 10.
* Use list slicing to create a new list containing only the even numbers from the original list, in reverse order.

In [ ]:
num = list(range(1, 11))
even_num_reverse = numbers[1::2][::-1]
print(even_num_reverse)

[5, 9, 1, 6]

# **Lab Task: 15**

**Combinging lists and lists method**

* Create two lists, one containing even numbers and another containing odd numbers.
* Use list methods to combine the two lists into a single list, alternating between even and odd numbers.

In [ ]:
even_num = [2, 4, 6, 8, 10]
odd_num  = [1, 3, 5, 7, 9]

combined_list = [num for pair in zip(even_num, odd_num) for num in pair]

print(combined_list)

[2, 1, 4, 3, 6, 5, 8, 7, 10, 9]